body {
    margin: 0;
    padding: 0;
    box-sizing: unset;
    background-color: black;
    color: white;
    text-align: center;
}

.elemento {
    background-color: lightgray;
    color: black;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
}